<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="col-sm-5 col-sm-offset-1">
		{% if output %}
		  <h2>Your Recommended Products</h2>
		  <br>
		  <div id="output">
			<table class="table table-striped" style="max-width: 300px;">
			  <thead>
				<tr>
				  <th>Label</th>
				  <th>Brand</th>
				  <th>Name of product</th>
				  <th>Rank</th>
				  <th>Skin Type</th>
				  <th>Price</th>
				  <th style="width: 500px;">Ingredients</th>
				</tr>
			  </thead>
			  {% for result in output%}
				<tr>
				  <td>{{ result.Label }}</td>
				  <td>{{ result.Brand }}</td>
				  <td>{{ result.Name }}</td>
				  <td>{{ result.Rank }}</td>
				  <td>
					{% if result.Combination %}
						Combination
					{% endif %}
					<br>
					{% if result.Dry %}
						Dry
					{% endif %}
					<br>
					{% if result.Normal %}
						Normal
					{% endif %}
					<br>
					{% if result.Oily %}
						Oily
					{% endif %}
					<br>
					{% if result.Sensitive %}
						Sensitive
					{% endif %}
				  </td>
				  <td>{{ result.Price }}</td>
				  <td>{{ result.Ingredients }}</td>
				</tr>
			  {% endfor %}
			</table>
		  </div>
		{% endif %}
	  </div>
</body>
</html>