<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../static/css/details.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}" /> -->
    <script src="../static/js/details.js"></script>
    <title>Product Details</title>
</head>
<body>
    <div class = "card-wrapper">
        <div class = "card">
          <!-- card left -->
          <div class = "product-imgs">
            <div class = "img-display">
              <div class = "img-showcase">
                <img src = "https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/1661463/2021/8/11/6a01d4c3-ee29-4fc5-9086-00c6d642d6ee1628671588398BiotiqueAdvancedBXLCellularWhiteningCream50g4.jpg" alt = "shoe image">
              </div>
            </div>
          </div>
          {% for result in output%}
          <!-- card right -->
          <div class = "product-content">
            <h2 class = "product-title">{{ result.Name }}</h2>
            <a href = "#" class = "product-link">{{ result.Brand }}</a>
            <div class = "product-rating">
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star-half-alt"></i>
              <span>4.4</span>
            </div>

            <div class = "product-price">
              <p class = "new-price">Price: <span>${{ result.Price }}</span></p>
            </div>

            <div class = "product-detail">
              <h2>Ingredients present: </h2>
              <p>{{ result.Ingredients }}</p>
              <ul>
                {% if result.Combination %}
                <li>Combination</li>
                {% endif %}
                {% if result.Dry %}
                <li>Dry</li>
                {% endif %}
                {% if result.Normal %}
                <li>Normal </li>
                {% endif %}
                {% if result.Oily %}
                <li>Oily</li>
                {% endif %}
                {% if result.Sensitive %}
                <li>Sensitive</li>
                {% endif %}
                
              </ul>
            </div>
      
          </div>
          {% endfor %}
        </div>
      </div>
</body>
</html>