<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>Your Products</title>
	<style>
		h2{
			position: auto;
		}
		#card {
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
			transition: 0.3s;
			border-radius: 5px; 
			width: 25%;
			height: 100%;
			}
			
		#card img{
			width: 65%;
			height: 65%;
		}
			img {
				
			border-radius: 5px 5px 0 0;
			}
			.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
	</style>
</head>
<body>
	<br>
	<h2 style="text-align: center;">Your Recommended Products</h2><br><br>
	<div class="container">
		<div class="row">
			
			<br>
			{% if output %}
			
			  {% for result in output%}
						
					<div class="col" id="card">
						<img src="{{result.Img}}" alt="Avatar" class="center">
						<div class="Container-fluid">
						  <h4>{{ result.Name }}</h4>
						  <h5>{{ result.Price }}</h5>
						  <h5>{{ result.Brand }}</h5>
						  <button class="btn btn" style="color: azure;"> <a href="/details/{{result._id}}">Submit</a></button>
						
						</div>
						<br>
					</div>
				  
			  {% endfor %}
			<!-- </table> -->
		  <!-- </div> -->
		{% endif %}
	  </div>
	</div>
</body>
</html>