<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
	<link rel="icon" type="image/png" href="static/images/icons/Try-Buy.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/formoutput.js"></script>
    <title>Buy Right Product</title>
	<style>
		body {
    padding: 2rem 0rem;
  }
  
  .like {
    font-size: 1.5rem;
  }
	</style>
</head>
<body>
	<div class="container">
		{% if output %}
		<h2 style="text-align: center;">Recommended Products</h2> <br>
		<div class="row mb-4">
			  {% for result in output%}
		  <div class="col-12 col-sm-8 col-md-6 col-lg-4">
			<div class="card shadow p-3 mb-5 bg-white rounded">
			  <img class="card-img" src="{{result.Img}}" alt="Vans">
			  <div class="card-img d-flex justify-content-end">
				<a href="#" class="card-link text-danger like">
				  
				</a>
			  </div>
			  <div class="card-body">
				<h4 class="card-title">{{ result.Brand }}</h4>
				
				<p class="card-text">
					{{ result.Name }}             </p>
	  
				<div class="buy d-flex justify-content-between align-items-center">
				  <div class="price text-success"><h5 class="mt-4">₹{{ result.Price }}</h5></div>
				 
				   <a href="/details/{{result._id}}" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Submit</a>
				</div>
			  </div>
			</div>
		  </div>
		  {% endfor %}
		  {% else %}
		  	<h2 style="text-align: center;">No such product </h2> <br>
		  {% endif %}
		</div>
		<h3 style="text-align: center;"><a href="/form">Choose different</a></h3>
	  </div>  
</body>
</html>