<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="icon" type="image/png" href="static/images/icons/Try-Buy.png">
    <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script> 
    <script src="index.js"></script>
    <title>Myntra-ByteCoders</title>
</head>
<body>


  <header id="header">
    <!--  Brand Logo  -->
    <a style="display: none;" class="nav-brand" href="" target="_blank">
      <img id="header-img" src="https://i.postimg.cc/8czjYqkS/Minimal-Premade-Logos-V02-04.png" alt="Pixel Skincare">
    </a>
    
    <!--  Toggle Menu for Mobile  -->
    
    <input type="checkbox" id="toggle-menu" role="button">
    <label for="toggle-menu" class="toggle-menu">Menu</label>
    
    <!--  Menus  -->
    <nav id="nav-bar" class="navbar">
      <ul class="menu">
        <li><a class="nav-link" href="#featured">New in!</a></li>
        <li><a class="nav-link" href="#collections">Collections</a></li>
        <li><a class="nav-link" href="#contact">Explore</a></li>
      </ul>
      <ul class="social-menu">
        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
      </ul>
    </nav>
  </header>

<!-- Hero Section -->
<div class="hero">
  <div class="hero-img">
    <img src="https://i.postimg.cc/kMNz5grj/flower.png" alt="Pixel Skincare">
  </div>
  <div class="hero-text">
    <h4>Beauty means improvising the appearance of something.<br> It affects how people look, feel and express themselves.<br> Along with makeup and skincare products that go right on someone’s skin,<br> clothes also plays a vital role in beautifying a person.</h4>
  </div>
</div>

<!-- Featured Section -->
<section id="featured">
  <div class="title title-left">
    <span class="line"></span><h3>Trial room experience!</h3>
  </div>
  <div class="wrapper">
    <div class="image">
      <img src="https://i.postimg.cc/DyM1SgNb/flower-copy.png" alt="Pixel Facial Cream">
    </div>
    <div class="text">
        <p class="tm-p-ml">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i> Extending to enhancing user experience by bringing the real time trial room in a virtual setup. <br><br>
        <i class="fa fa-shopping-bag" aria-hidden="true"></i> Using virtual AR we can give a more prominent view on  how those clothes would look on them and how well they will fit. <br><br>         
        <i class="fa fa-shopping-bag" aria-hidden="true"></i> Integer pretium dapibus tellus vitae pretium. Nulla molestie lectus in viverra dignissim.
        <br>
      </p>
      <a href="/product" class=btn>Try clothes</a>
    </div>
  </div>
</section>

<!-- Collection Section -->
<section id="collections">
  <div class="title title-right">
    <span class="line line-right"></span><h3>Collections</h3>
  </div>
  <div class="wrapper">
    <a class="box box1" href="#">
      <h4>Face Moisturizer</h4>
      <div class="box-overlay"></div>
    </a>
    <a class="box box2" href="#">
      <h4>Sunscreen </h4>
      <div class="box-overlay"></div>
    </a>
    <a class="box box3" href="#">
      <h4>Face Wash And Cleanser</h4>
      <div class="box-overlay"></div>
    </a>
  </div>
</section>

<div class="hero">
  <div class="hero-img">
    <img src="https://i.postimg.cc/kMNz5grj/flower.png" alt="Pixel Skincare">
  </div>
  <div class="hero-text">
    <h1>Your Skin</br> Would Loved It!</h1>
    <a href="/form" class="btn">Explore</a>
  </div>
</div>



<!-- Contact Section -->
<section id="contact">
  <div class="wrapper">


    <div class="copy-wrapper">
      <h6><i class="fa fa-copyright" aria-hidden="true"></i> Myntra HackerRamp: Campus Edition 2021 | Team: Bytecoders</h6>
    </div>
  </div>
</section>
</body>
</html>