/* ==== Base ==== */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e3f8ff;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
h3,
p,
button {
  margin: 0;
  padding: 0;
}

/* === Card === */
.product {
  background-color: #ffffff;
  max-width: 382px;
  border-radius: 8px;
  overflow: hidden;
  padding: 8px;
  position: relative;
}

.product__image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.product__option {
  display: inline-flex;
  font-family: var(--font);
  align-items: center;
}

.disabled {
  color: #bfbfbf;
}

.product__option > input[type="radio"] {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}

.product__title {
  margin-bottom: 8px;
  font-weight: 400;
}

.product__title,
.product__description,
.product__price,
.product__descount,
.button__text {
  font-family: var(--font);
}

.product__price {
  font-size: 32px;
}

.product__descount {
  color: #e87676;
  font-size: 18px;
}

.c-price {
  display: flex;
  flex-direction: column;
}

.button {
  background: #2657d6;
  padding: 8px 17px;
  border: none;
  border-radius: 8px;
  display: flex;
  grid-gap: 7px;
  align-items: center;
  cursor: pointer;
}

.button__text {
  color: #ffffff;
  font-weight: 400;
}

/* === Mobile === */
/* @media screen and (max-width: 768px) {
  .c-options {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 4px 10px;
    margin: 18px 0;
  }

  .product__title {
    font-size: 24px;
  }

  .product__description {
    font-size: 14px;
    line-height: 16.5px;
    text-align: justify;
    margin-bottom: 16px;
  }

  .c-price {
    margin-bottom: 8px;
  }

  .c-button {
    position: absolute;
    bottom: 23.5px;
    right: 8px;
  }

  .button {
    padding: 8px 17px;
  }

  .button__icon {
    height: 20px;
    width: 20px;
  }

  .button__text {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .product {
    display: flex;
    flex-flow: wrap;
    max-width: 580px;
  }

  .c-image {
    width: 417px;
    margin: 0 18px 16px 0;
  }

  .c-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 8px;
  }

  .product__option {
    font-size: 24px;
    line-height: 28.13px;
  }

  .c-data {
    width: 439px;
    margin-bottom: 61px;
  }

  .product__title {
    font-size: 18px;
  }

  .product__description {
    font-size: 12px;
  }

  .c-price {
    align-items: flex-end;
    margin-left: 8px;
  }

  .c-button {
    position: absolute;
    bottom: 16px;
    right: 8px;
  }

  .button {
    padding: 7px 8.75px;
  }

  .button__icon {
    height: 15px;
    width: 15px;
  }

  .button__text {
    font-size: 18px;
  }
} */